.subscribe-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 540px) {
    .subscribe-form{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}


/* это значит ЛЮБОЙ элементу внутри subscribe-form и его СОСЕД
   Сосед делает отступ влево отталкивая первый элемент */
.subscribe-form > * + * {
    margin-top: 10px;
}

@media (min-width: 540px) {
    .subscribe-form > * + * {
        margin-left: 10px;
        margin-top: 0;
    }
}


.subscribe-form__input{
    padding-left: 10px;
    padding-right: 10px;

    height: 42px;

    background: #ffffff;
    border: 1px solid #F72464;
    box-sizing: border-box;
    border-radius: 4px;

    /* Надо указать шрифт потому что input НЕ наследует глобальную установку шрифта от BODY */
    font-family: "Noto Sans", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
}

@media (min-width: 540px) {
    .subscribe-form__input{
        width: 230px;
    }
}

.subscribe-form__input::placeholder{
    color: #999999;
}

.subscribe-form__button{
    display: inline-block;
    background: #F72464;
    border: none;
    border-radius: 4px;
    height: 42px;

    /* Надо указать шрифт потому что button НЕ наследует глобальную установку шрифта от BODY */
    font-family: "Noto Sans", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;

    color: #FFFFFF;

    cursor: pointer;
    transition: box-shadow .2s ease-in, background .2s ease-in;
}

.subscribe-form__button:hover{
    box-shadow: 0 2px 15px #573131;
    background-color: #f40f50;
}

@media (min-width: 540px) {
    .subscribe-form__button{
        width: 230px;
    }
}